.dp-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100vh;
}

.dp-header {
    display: flex;
    flex: 0 0 34px;
    background-color: palevioletred;
    padding: 16px;
}

.dp-footer {
    display: flex;
    flex: 0 0 36px;
    background-color: peachpuff;
    padding: 16px;
}

.dp-content {
    display: flex;
    flex: 1 1;
    height: max-content;
}

.dp-left-box {
    display: flex;
    flex: 0 0 200px;
    background-color: lightgreen;
    padding: 16px;
}

.dp-main-box {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    background-color: lightblue;
    padding: 16px;
}

.dp-right-box {
    display: flex;
    flex: 0 0 200px;
    background-color: lightcoral;
    padding: 16px;
}