/* arbitrary container element */
.dp-widget-container {
    position: absolute;
    display: flex;
    border: 1px solid red;
    width: 800px;
    height: 600px;    
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* widget styling, includes the border styling and flex-centered content */
.dp-widget-da {
    display: flex;
    border: 4px dotted darkslategrey;
    border-radius: 8px;
    width: 640px;
    height: 350px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* widget background styling, includes flex-centered content */
.dp-widget-content {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    width: 610px;
    height: 322px;
    background-color: rgb(245, 210, 226, 0.0);

    transition-property: background-color;
    transition-duration: 0.5s;
}

/* widget labels */

.dp-widget-content > .da-widget-error {
    overflow: hidden;
    max-height: 0px;
    font-weight: bold;
    color: rgba(0,0,0,0.0);
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.dp-widget-content > .da-widget-label {
    overflow: hidden;
    max-height: 1.5em;
    font-weight: bold;
    color: rgba(0,0,0,1.0);
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

/* hover-state changes */

.dp-widget-da:hover {
    cursor: no-drop;
}

.dp-widget-da:hover > .dp-widget-content {
    background-color: rgb(245, 210, 226, 1.0);
}

.dp-widget-da:hover > .dp-widget-content > .da-widget-error {
    color: rgba(0,0,0,1.0);
    max-height: 1.5em;
}

.dp-widget-da:hover > .dp-widget-content > .da-widget-label {
    color: rgba(0,0,0,0.0);
    max-height: 0px;
}