/* Basic flex layout, defaulting to desktop mode values */

.dp-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100vh;
}

.dp-header {
    display: flex;
    flex: 0 0;
    background-color: rgb(255, 181, 206);
    padding: 16px;
}

.dp-footer {
    display: flex;
    flex: 0 0;
    background-color: rgb(255, 183, 120);
    padding: 16px;
}

.dp-content {
    display: flex;
    flex: 1 1;
    height: max-content;
}

.dp-left-box {
    display: flex;
    flex: 0 0 200px;
    background-color: rgb(183, 255, 183);
    padding: 16px;
}

.dp-main-box {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    background-color: lightblue;
}

.dp-scroll-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 16px;
}

.dp-right-box {
    display: flex;
    flex: 0 0 200px;
    background-color: rgb(255, 105, 150);
    padding: 16px;
}