.dp-pricing-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dp-panel {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;


    flex-direction: column;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    align-items: center;

    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;

    margin: 16px;
}

.dp-pricing-table div {
    margin-left: 16px;
}

.dp-pricing-table div:first-of-type {
    margin-left: 16px;
}

.dp-panel .dp-label {
    display: inline-block;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    padding: 4px 20px;

    color: white;
    background-color: rgb(72,124,246);

    font-weight: 600;
}

.dp-panel .dp-panel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(110, 117, 123);
    margin-top: 32px;
    margin-left: 0;

    font-weight: 500;
}

.dp-panel .dp-panel-content .dp-highlight {
    color: rgb(72,124,246);
    font-size: 38px;
    padding-right: 4px;
    font-weight: 500;
}

.dp-panel .dp-panel-content .dp-weighted {
    color: rgb(110, 117, 123);
    font-weight: 700;
}

.dp-panel .dp-panel-content p {
    line-height: 8px;
    font-weight: 400;
}

.dp-panel button.dp-panel-btn {
    background-color: white;
    border: 1px solid rgb(110, 117, 123);
    border-radius: 4px;
    padding: 8px 10px;
    color: rgb(110, 117, 123);
    margin-top: 18px;
    font-size: 16px;
}